<!doctype html>
<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main">
            <article>
                <div class>
                    <img src= http://www.livescience.com/images/i/000/084/401/original/great-white-shark.jpeg width="50">
                    <h2>Sharky</h2>
                    <h3>15 minutes ago</h3>
                </div>
            </article>
            
            <article class="post">
                <div class="user-info">
                    
                </div>
                <a class="photos" hfer="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/31/Great_white_shark_south_africa.jpg" alt="post from Skarky">
                </a>
                ...
                <div class="actions">
                    0 Likes
                    <span class="comment-count"> 0 comments </span>
                </div>
                <ul>
                    <li>
                        <p>
                            Sharky: Out for the long weekend
                        </p>
                    </li>
                </ul>
            </article>
        </main>
    </body>
</html>